doctype html
<!--[if IE 8]>
<html lang="en" class="lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->

html
  head
    meta(charset='utf8')
    title= path
    link(href='img/favicon.ico', rel='shortcut icon', type='image/x-icon')
    link(rel='stylesheet', href='css/application.css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="google-site-verification" content="CTyChNYuMJXlNw0awOmFMeONvnUC1jtq-dOc2OwJsgY")
    meta(name="google-site-verification" content="jdvbcXmJbt8rGtJ6L_xEzdfihhjg0gy1zSbU6L_Mayg")
  body
    header.section-pink.header
      .large-2.small-2.columns
        a(href="/", class="logo")
          i.icon-sb-logo
          span Smashing Boxes
      .side.stuck
        nav.dr-menu
          .dr-trigger
            div.dr-icon-bg
            a.dr-icon.dr-icon-menu
          a(href="/", class='pink-menu hidden')
            i.icon-sb-mark.hidden
            span Smashing Boxes

          ul.menu.hidden
            each page in ["culture", "work", "ideas", "jobs", "contact"]
              li(class="menu-#{page}")
                a.dr-icon(href="/#{page}")
                  span("data-title"=page) #{page}

    block content

    footer
      .row.centered
        h5 Inspire. Innovate. Disrupt.
        .large-14.columns.small-centered.offices.clearfix
          .columns.contact
            ul
              li
                h6 San Francisco
              li 156 2nd Street
              li San Francisco, CA 94105
          .columns.contact
            ul
              li
                h6 HQ - Durham
              li Diamond View III Building
              li 359 Blackwell Street
              li Suite 240
              li Durham, NC 27701
          .columns.contact
            ul
              li
                h6 Montreal QC
              li Coming Soon

        a(href="#", class="button contact-btn") Full Contact
        // = link_to 'Full Contact', page_path('contact'), class: 'button contact-btn'
        ul.footer-social
          li
            a(href="https://www.facebook.com/smashingboxes" target="_blank")
              i.icon-sb-facebook
              span Facebook
          li
            a(href="https://plus.google.com/+Smashingboxes", target="_blank")
              i.icon-sb-google
              span Google Plus
          li
            a(href="https://twitter.com/smashingboxes", target="_blank")
              i.icon-sb-twitter
              span Twitter
          li
            a(href="http://www.linkedin.com/company/smashing-boxes", target="_blank")
              i.icon-sb-linkedin
              span Linkedin
          li
            a(href="http://dribbble.com/SmashingBoxes", target="_blank")
              i.icon-sb-dribble
              span Dribble
          li
            a(href="http://instagram.com/SmashingBoxes", target="_blank")
              i.icon-sb-instagram
              span Instagram
        .logo-alt
          i.icon-sb-mark
        .newsletter.centered
          span Sign up for our newsletter
          form(id="newsletter" method="post")
            label(for="email") Email
            input.newsletter-email(type="email", name="email")
            input.button(name="commit",type="submit",value="Submit")
        .successModal.reveal-modal.large data-reveal=""
          // img(data-src=asset_url('goodnature.gif') alt=''
          p You made the right choice.
          a.close-reveal-modal ×

    script(src="/js/build.js")
    script(src="//cdn.optimizely.com/js/1846920053.js")
